RewriteEngine On

RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule .* http://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# RewriteCond %{THE_REQUEST} ^.*/index.php
RewriteRule  ^(.*)admin/?$  admin/index.php [NC,L]
RewriteRule  ^(.*)admin/?$  admin/carousel_images.php [NC,L]

#DirectoryIndex index.php


RewriteRule  ^about?$  about_us.php [NC,L]
RewriteRule  ^animation_industry?$  animation_industry.php [NC,L]

RewriteRule  ^graphics_design?$  graphics_design.php [NC,L]
RewriteRule  ^ui_ux_design?$  ui_ux_design.php [NC,L]
RewriteRule  ^trinity_course?$  trinity_course.php [NC,L]
RewriteRule  ^animation_diplamo_course?$  animation_diplamo_course.php [NC,L]
RewriteRule  ^vfx_animation_course?$  vfx_animation_course.php [NC,L]
RewriteRule  ^vfx_prime?$  vfx_prime.php [NC,L]
RewriteRule  ^vfx_pro?$  vfx_pro.php [NC,L]
RewriteRule  ^gaming?$  gaming.php [NC,L]
RewriteRule  ^short_term_courses?$  short_term_courses.php [NC,L]

RewriteRule  ^activities?$  activities.php [NC,L]
RewriteRule  ^recent_activities?$  recent_activities.php [NC,L]
RewriteRule ^([a-z]+)\/?$ $1.php [NC]
RewriteRule  ^gallery?$  gallery.php [NC,L]
RewriteRule  ^gallery?$  gallery.php [NC,L]
RewriteRule  ^gallery?$  gallery.php [NC,L]
RewriteRule  ^gallery?$  gallery.php [NC,L]


ErrorDocument 404 404.php

RewriteRule ^([a-z]+)\/?$ $1.php [NC]